<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Example App</title>
  <link rel='stylesheet' href='/css/style.css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  {{!-- big carocoul --}}
  <link rel="stylesheet" type="text/css"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">




  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
  <link rel="stylesheet" href="node_modules/mdbootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="node_modules/mdbootstrap/css/mdb.min.css">
  <link rel="stylesheet" href="node_modules/mdbootstrap/css/style.css">



<meta name="viewport" content="width=device-width, initial-scale=1">

  {{!-- for carousel --}}
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>

  <!-- Add icon library  for star rating-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  <script def src="/app.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

</head>



<nav class="fixed-top navbar-expand-sm navbar-dark pt-3 pb-3" style="background-color:#003580;">

  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    
 <!-- Navbar brand -->
      <a class="navbar-brand mt-2 mt-lg-0" href="#">
        <img
          src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp"
          height="15"
          alt="MDB Logo"
          loading="lazy"
        />
         <small>MDBootstrap</small>
      </a>



      <div class="collapse navbar-collapse nav-items-center" id="navbarTogglerDemo01">
        <ul class="navbar-nav ms-auto">


          <li class="nav-item active">
            <a href="/" class="nav-link">Home</a>
          </li>

          <li class="nav-item active">
            <a href="/destination/listing" class="nav-link">Listing</a>
          </li>
       
          <li class="nav-item active">
            <a href="/user/login" class="nav-link ">LogIn</a>
          </li>
          <li class="nav-item active">
            <a href="/user/registration" class="nav-link ">Registration</a>
          </li>
        </ul>
      </div>

</nav>





<body>

  {{{body}}}


</body>

<footer class="page-footer font-small unique-color-dark text-white " style="background-color:#003580;">

  <div  >
    <div class="container">

     
      <div class="row py-2 d-flex align-items-center">

      </div>


    </div>
  </div>


  <div class="container text-center text-md-left  ">
    <div class="row mt-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">Booking</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>Booking.com was formed when bookings.nl, founded in 1996 by Geert-Jan Bruinsma,
           merged in 2000 with Bookings Online, founded by Sicco and Alec Behrens, Marijn 
           Muyser and Bas Lemmens, which operated as Bookings.org. The name and URL were 
           changed to Booking.com and Stef Noorden was appointed as its CEO</p>

      </div>
      
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Places</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="https://www.booking.com/region.en-gb.html?label=gen173nr-1DCAEoggI46AdIM1gEaCeIAQGYAQm4ARfIAQzYAQPoAQGIAgGoAgO4ArmOuIYGwAIB0gIkMzA3MzgwZTMtMjEyYi00OGYyLWFhOTItNjZhODVlYzRlYzMw2AIE4AIB;sid=0475a09b39b0026595ae4ce48d7b8545;sig=v10qHF0ktv">
            Regions</a>
        </p>
        <p>
          <a href="https://www.booking.com/city.en-gb.html?label=gen173nr-1DCAEoggI46AdIM1gEaCeIAQGYAQm4ARfIAQzYAQPoAQGIAgGoAgO4ArmOuIYGwAIB0gIkMzA3MzgwZTMtMjEyYi00OGYyLWFhOTItNjZhODVlYzRlYzMw2AIE4AIB;sid=0475a09b39b0026595ae4ce48d7b8545;sig=v10qHF0ktv">Cities</a>
        </p>
        <p>
          <a href="https://www.booking.com/district.en-gb.html?label=gen173nr-1DCAEoggI46AdIM1gEaCeIAQGYAQm4ARfIAQzYAQPoAQGIAgGoAgO4ArmOuIYGwAIB0gIkMzA3MzgwZTMtMjEyYi00OGYyLWFhOTItNjZhODVlYzRlYzMw2AIE4AIB;sid=0475a09b39b0026595ae4ce48d7b8545;sig=v10qHF0ktv">
            Districts</a>
        </p>
        <p>
          <a href="https://www.booking.com/airport.en-gb.html?label=gen173nr-1DCAEoggI46AdIM1gEaCeIAQGYAQm4ARfIAQzYAQPoAQGIAgGoAgO4ArmOuIYGwAIB0gIkMzA3MzgwZTMtMjEyYi00OGYyLWFhOTItNjZhODVlYzRlYzMw2AIE4AIB;sid=0475a09b39b0026595ae4ce48d7b8545;sig=v10qHF0ktv">
            Airports</a>
        </p>

      </div>
  
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <h6 class="text-uppercase font-weight-bold">Useful links</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="https://www.booking.com/accommodations.en-gb.html?label=gen173bo-1DCAEoggI46AdICVgDaCeIAQGYAQm4ARfIAQzYAQPoAQH4AQSIAgGYAiGoAgO4ApbsqYYGwAIB0gIkNDZhZjdmOGYtMzE4MS00NGViLTljOWItOTk5OWZkZjdlN2Vm2AIE4AIB;sid=0475a09b39b0026595ae4ce48d7b8545;srpvid=fac154812aa9006d;sig=v1zzlJc1lO">
          Unique Places To Stay</a>
        </p>
        <p>
          <a href="https://www.booking.com/reviews.en-gb.html?label=gen173bo-1DCAEoggI46AdICVgDaCeIAQGYAQm4ARfIAQzYAQPoAQH4AQSIAgGYAiGoAgO4ApbsqYYGwAIB0gIkNDZhZjdmOGYtMzE4MS00NGViLTljOWItOTk5OWZkZjdlN2Vm2AIE4AIB;sid=0475a09b39b0026595ae4ce48d7b8545;srpvid=fac154812aa9006d;sig=v1zzlJc1lO">
            Reviews</a>
        </p>
        <p>
          <a href="https://www.booking.com/articles.en-gb.html?label=gen173bo-1DCAEoggI46AdICVgDaCeIAQGYAQm4ARfIAQzYAQPoAQH4AQSIAgGYAiGoAgO4ApbsqYYGwAIB0gIkNDZhZjdmOGYtMzE4MS00NGViLTljOWItOTk5OWZkZjdlN2Vm2AIE4AIB;sid=0475a09b39b0026595ae4ce48d7b8545;srpvid=fac154812aa9006d;sig=v17fx8SX7X">
            Unpacked: Travel articles</a>
        </p>
        <p>
          <a href="https://www.booking.com/communities/index?label=gen173bo-1DCAEoggI46AdICVgDaCeIAQGYAQm4ARfIAQzYAQPoAQH4AQSIAgGYAiGoAgO4ApbsqYYGwAIB0gIkNDZhZjdmOGYtMzE4MS00NGViLTljOWItOTk5OWZkZjdlN2Vm2AIE4AIB;sid=0475a09b39b0026595ae4ce48d7b8545;srpvid=fac154812aa9006d;sig=v1zzlJc1lO;utm_source=communities_ep;utm_medium=footer;utm_campaign=www;communities_entry_point=www_footer">
            Travel Communities</a>
        </p>

      </div>
     
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fas fa-home mr-3"></i> New York, NY 10012, US
        </p>
        <p>
          <i class="fas fa-envelope mr-3"></i> info@example.com
        </p>
        <p>
          <i class="fas fa-phone mr-3"></i> + 01 234 567 88
        </p>
        <p>
          <i class="fas fa-print mr-3"></i> + 01 234 567 89
        </p>

      </div>
    

    </div>
  
  </div>
  
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://booking.com/"> Booking.com</a>
  </div>


</footer>
