{{!-- <div class=" ">
    <h2 class="h2-font m_destination_details 
    text-center">{{destination.title}}</h2>

    <div>
        <img class="img-fluid" alt="100%x280" src="{{destination.small_img}}">

    </div>




</div> --}}

