
  <img
    src="/img/explore/{{pic}}"
    class="img-fluid"
    alt="..."
    width="100%"
    height="auto"
    style=" object-fit: cover;"
  />

  <div class="text-center">
    <h1 class="text-white fs-3 fw-bolder">Lorem lorem lorem</h1>
    <p class="text-white-50 mb-0">Lorem lorem lorem</p>
  </div>
</header>
<!-- Content section-->
<section class="py-5">
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <h2>Lorem lorem loremmmmm</h2>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Explicabo ut minima nihil, natus libero beatae a delectus hic</p>
        <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Explicabo ut minima nihil, natus libero beatae a delectus hic
          perferendis, distinctio sapiente eaque eos at! Explicabo soluta iusto
          voluptas labore iure nostrum nulla eaque maxime dolore, ea accusantium
          autem provident. Expedita corrupti maiores vero possimus, ipsam
          veritatis ipsa pariatur voluptatem reiciendis consequatur esse vitae
          animi earum cupiditate accusantium voluptatum dolorem illo numquam qui
          nemo officiis aliquid quod. Soluta, quaerat illum. Similique quidem
          commodi saepe nesciunt earum, quam ut. Dignissimos cupiditate nobis .</p>
      </div>
    </div>
  </div>
</section>
<!-- Image element - set the background image for the header in the line below-->
<div
  class="py-5 bg-image-full"
  style="background-image: url('/img/explore/{{pic1}}')"
>
  <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
  <div style="height: 20rem"></div>
</div>
<!-- Content section-->
<section class="py-5">
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <h2>Lorem ipsum dolor sit</h2>
        <p class="lead">perferendis, distinctio sapiente eaque eos at! Explicabo soluta iusto
          voluptas labore iure nostrum nulla eaque maxime dolore, ea.</p>
        <p class="mb-0">perferendis, distinctio sapiente eaque eos at! Explicabo soluta iusto
          voluptas labore iure nostrum nulla eaque maxime dolore, ea accusantium
          autem provident. Expedita corrupti maiores vero possimus, ipsam     perferendis, distinctio sapiente eaque eos at! Explicabo soluta iusto
          voluptas labore iure nostrum nulla eaque maxime dolore, ea accusantium
          autem provident. Expedita corrupti maiores vero possimus, ipsam
          voluptas labore iure nostrum nulla eaque maxime dolore, ea accusantium
          autem provident. Expedita corrupti maiores vero possimus, ipsam
          veritatis ipsa pariatur voluptatem reiciendis consequatur esse vitae
          animi earum cupiditate accusantium voluptatum dolorem illo numquam qui
          nemo officiis aliquid quod. Soluta, quaerat illum. Similique quidem
          commodi saepe nesciunt earum, quam ut. Dignissimos cupiditate nobis
        </p>
      </div>
    </div>
  </div>
</section>